<html>
    <head>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="/static/css/nav.css" rel="stylesheet">
        <link href="/static/css/table.css" rel="stylesheet">
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-3.3.1.js"></script>
        <!-- icon -->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

        <title>Hệ thống quản lý</title>

    </head>
    <body>
        <div class="table">
            <div class="container">
                <div class="row">

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                        <div class="content card m-auto">
                            <div class="icon" id="icon-onoff"><i class='fas fa-coffee' style='font-size:22px'></i></div>
                            <p class="title">Bàn 1</p>
                        </div>
                        <div class="edit">
                            <div class="sua" data-id="">Thanh toán</div>
                            <hr>
                            <div class="xoa" href="">Chuyển bàn</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        
        



        <div class="row nav-main">
            <div class="col-12 col-sm-12">
                <nav class="nav nav-pills nav-fill ">
                    <a class="nav-item nav-link disabled " href="#"><i class='far fa-edit' style='font-size:16px'></i><br>Chọn món</a>
                    <a class="nav-item nav-link disabled active" href="#"><i class='fas fa-coffee' style='font-size:16px'></i><br>Bàn</a>
                    <a class="nav-item nav-link disabled" href="#"><i class='far fa-bell' style='font-size:16px'></i> <br>Thông báo</a>
                    <a class="nav-item nav-link disabled" href="#"><i class='far fa-user' style='font-size:16px'></i><br>Cá Nhân</a>
                  </nav>
            </div>
        </div>
        </div>


    </body>
</html>